{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Илья Борисов</h1>
<p>
  На текущий момент времени я работаю программистом в компании RMC
  В мои рабочие обязанности входит поддержка программного обеспечения (скриптов BASH),
  создание микросервисов на Python, по этому я обучаюсь
  Python программисту на курсе от Яндекса.
  Во время разработки данного приложения меня поддерживает моя Жена Алена Игоревна.
  Меня вдохновляет мысль стать Senior Python Developer, да и в целом стать крутым специалистом
  в сфере Backend разроаботки.
  Свой путь в программирование я начала с изучения C++, еще в школе, после первый занятий я сразу определил
  дальнейшить путь в своей жизни, от программирования я получал невероятное удовольствие, учавствовал в олимпиадах,
  даже получалось занимать призовые места. К сожалению в институтском возрасте был небольшой провал в опыте,
  я меньше занимался программированием, но со временем я вернулся к этому ремеслу.
</p>
<p>
  Контакты:
</p>
<ul>
  <li>
    <a href="https://github.com/dartilius">GitHub</a>
  </li>
  <li>
    <a href="https://t.me/dart_ilius">Telegram</a>
  </li>
  <li>
    <a href="https://vk.com/dart_ilius">Вконтакте</a>
  </li>
</ul>


{% endblock %}