{% extends 'base.html' %}
{% block title %}
Профайл пользователя: {{ username }}
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="mb-5">
  <h1>Все посты пользователя {{ user.username }} </h1>
  <h3>Всего постов: {{ count_posts }}</h3>
  {% if user.is_authenticated %}
    {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
  {% endif %}
  </div>
  {% for post in page_obj %}
    <ul>
      {% include 'includes/post.html' %}
    </ul>
    <ul>
      {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
      {% endif %}
    </ul>
    <ul>
     <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    </ul>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
    <!-- Остальные посты. после последнего нет черты -->
    <!-- Здесь подключён паджинатор -->
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}